footer
  .container.text-center
    p.float-left © 2020 Looking Down Limited. All Rights Reserved
    ul.float-right.list-inline
      li.list-inline-item
        a(href='https://sentinel.esa.int/web/sentinel/home') ESA Sentinel 